{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <h1>Create new Food</h1>

    {{ include('food/_form.html.twig') }}

    <a href="{{ path('app_food_index') }}">back to list</a>
{% endblock %}
